<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1>Welcome to DeliveryMatch</h1>
      <p class="lead">Choose your role to get started!</p>
      <div class="mt-4">
        <a routerLink="/register/driver" class="btn btn-primary btn-lg me-2">Register as Driver</a>
        <a routerLink="/register/shipper" class="btn btn-primary btn-lg">Register as Shipper</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
