<ng-container *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</ng-container>

<div class="form-group">
  <label for="firstName">First Name</label>
  <input type="text" id="firstName" [(ngModel)]="registerData.firstName" required>
</div>

<div class="form-group">
  <label for="lastName">Last Name</label>
  <input type="text" id="lastName" [(ngModel)]="registerData.lastName" required>
</div>

<div class="form-group">
  <label for="email">Email</label>
  <input type="email" id="email" [(ngModel)]="registerData.email" required>
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input type="password" id="password" [(ngModel)]="registerData.password" required>
</div>

<div class="form-group">
  <label>Role</label>
  <div>
    <input type="radio" id="driver" name="role" value="CONDUCTEUR" [(ngModel)]="registerData.role" required>
    <label for="driver">Driver</label>
  </div>
  <div>
    <input type="radio" id="sender" name="role" value="EXPEDITEUR" [(ngModel)]="registerData.role" required>
    <label for="sender">Shipper</label>
  </div>
</div>

<button type="submit" (click)="onSubmit()">Register</button>
